<?xml version="1.0" encoding="utf-8" ?>
<!-- This is an example code snippets file -->
<examples>
  <item id="BusInstance#Define">
    <sampleCode language="CSharp">
      using var bus = new MessageBus();
    </sampleCode>
    <sampleCode language="VisualBasic">
      Using bus As New MessageBus
        'Code
      End Using
    </sampleCode>
  </item>
</examples>

